*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: orangered;
    margin: 0;
    font-family: rubik;
    color: white;
    .pokemon--list{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .pokemon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background-color: white;
        color: black;
        width: 200px;
        height: 250px;
        
            .pokemon__header{
                width: 90%;
                .pokemon__header--p{
                    text-align: end;
                    padding-top: 10px;
                    font-size: 20px;
                }
                .pokemon__header--img{
                    text-align: center;
                    font-size: 28px;
                }
            }

            .image--poke{
                width: 120px;
                height: 120px;
            }
        }
    }
    
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  }
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
  }
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
  .card:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }