* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: rubik;
  color: white;
  position: relative;
  padding-bottom: 130px;
  min-height: 100vh;
}
body .head__search {
  margin-top: 25px;
  padding-right: 25px;
  width: 95%;
  display: flex;
  gap: 10px;
  height: 30px;
}
body .head__search a {
  text-decoration: none;
  color: white;
}
body .head__img {
  display: flex;
  justify-content: center;
  height: 50%;
}
body .head__img a {
  width: 50%;
}
body .head__img img {
  width: 100%;
}
body .filter {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: black;
  margin-bottom: 30px;
}
body .filter div {
  display: flex;
  flex-direction: row;
  width: 60%;
}
body .filter p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}
body .filter input {
  height: 20px;
  width: 40%;
}
body .pokemon--list {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
body .pokemon--list .pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  color: black;
  width: 200px;
  height: 260px;
}
body .pokemon--list .pokemon .pokemon__header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
body .pokemon--list .pokemon .pokemon__header .pokemon__header--p {
  padding-top: 10px;
  font-size: 16px;
}
body .pokemon--list .pokemon .pokemon__header .pokemon__header--types {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}
body .pokemon--list .pokemon .pokemon__header .pokemon__header--types .pokemon__types--icon {
  width: 20px;
  height: 20px;
}
body .pokemon--list .pokemon .pokemon__name {
  text-align: center;
  font-size: 28px;
}
body .pokemon--list .pokemon .pokemon__img {
  display: flex;
  justify-content: center;
}
body .pokemon--list .pokemon .pokemon__img .image--poke {
  width: 120px;
  height: 120px;
}
body .pokemon--list .pokemon .pokemon__types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  padding-top: 20px;
}
body .pokemon--list .pokemon .pokemon__types .pokemon__types--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 18px;
  gap: 5px;
}
body footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 100px;
  background-color: rgba(232, 50, 50, 0.913);
}
body footer .main--inf {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .main--inf .main--inf__btn {
  width: 90%;
  justify-content: space-between;
  display: flex;
}
body footer .main--inf .main--inf__btn button {
  border-radius: 20px;
  width: 100px;
  height: 60px;
}
body .flip--card--inner--back {
  border-radius: 20px;
}
body .flip--card--inner--back .pokemon--back {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
body .flip--card--inner--back .pokemon--back .pokemon__img--back {
  height: 35%;
  padding-top: 10px;
}
body .flip--card--inner--back .pokemon--back .stats {
  width: 95%;
  height: 70%;
  display: flex;
}
body .flip--card--inner--back .pokemon--back .stats .stats--number {
  width: 45%;
}
body .flip--card--inner--back .pokemon--back .stats .stats--bar {
  width: 55%;
}
body .flip--card--inner--back .pokemon--back .stats .stats--bar .progress {
  width: 90%;
  height: 11px;
  border: 0.5px solid black;
  margin-bottom: 5px;
}
body .flip--card--inner--back .pokemon--back .stats .stats--bar .progress .progressbar {
  background-color: rgba(216, 161, 21, 0.793);
  height: 11px;
}
body .flip--card {
  perspective: 2000px;
  width: 200px;
  height: 260px;
}
body .flip--card .flip--card--inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(229, 208, 208);
  transition: all 450ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
body .flip--card .flip--card--inner--front, body .flip--card .flip--card--inner--back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .flip--card .flip--card--inner--back {
  transform: rotateY(180deg);
}
body .flip--card .flip--card--inner:hover {
  transform: rotateY(-180deg);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: rubik;
  color: black;
  position: relative;
  padding-bottom: 130px;
  min-height: 100vh;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: rgba(232, 50, 50, 0.913);
}
body header .head__search {
  margin-top: 25px;
  padding-right: 25px;
  width: 95%;
  display: flex;
  gap: 10px;
  height: 30px;
}
body header .head__search a {
  text-decoration: none;
  color: white;
}
body header .head__img {
  display: flex;
  justify-content: center;
  height: 50%;
}
body header .head__img a {
  width: 50%;
}
body header .head__img img {
  width: 100%;
}
body main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body main h3 {
  font-size: 36px;
}
body main .invisible {
  display: none;
}

.clicker {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clicker .clicker__center button {
  width: 200px;
  height: 200px;
  margin: 25px;
  border: 0px;
}
.clicker .clicker__center button img {
  width: 200px;
}
.clicker .clicker__center h1 {
  margin: 25px;
}
.clicker .clicker__center p {
  font-size: 26px;
}
.clicker .div--img {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clicker .div--img img {
  width: 80px;
  height: 80px;
}/*# sourceMappingURL=styles.css.map */