*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: rubik;
    color: white;
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        margin-bottom: 50px;
        background-color: rgba(232, 50, 50, 0.913);
        .head__search{
            margin-top: 25px;
            padding-right: 25px;
            width: 95%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
        .head__img{
        display: flex;
        justify-content: center;

        }
    }
    .pokemon--list{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 25px;
        .pokemon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        //background-color: rgb(195, 128, 128);
        background-color: rgb(229, 208, 208);
        color: black;
        width: 200px;
        height: 260px;
        
            .pokemon__header{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 5px;
                .pokemon__header--p{
                    
                    padding-top: 10px;
                    font-size: 16px;

                }
                .pokemon__header--types{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    padding-right: 5px;
                    gap: 5px;

                    .pokemon__types--icon{
                        width: 16px;
                        height: 16px;
                    }
                }
                
            }
            .pokemon__name{
                    text-align: center;
                    font-size: 28px;
                }
            .image--poke{
                width: 120px;
                height: 120px;
            }
            .pokemon__types{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 100px;

                .pokemon__types--text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 80px;
                    height: 18px;
                    gap: 5px;
                    
                }
            }
        } 
    }
    .main--inf{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(232, 50, 50, 0.913);

        .main--inf__btn{
            width: 90%;
            justify-content: space-between;
            display: flex;

            button{
                border-radius: 20px;
                width: 100px;
                height: 60px;
            }
        }
    }
    .zoom{
        transition: .2s;
        
    }
   .zoom:hover{
            transform: scale(1.1);
    }

  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  }